<h1 class="title-of-page form-page">Create</h1>
<div class="col-md-1"></div>
<div class="col-md-10"> 
	<%= form_for @blip , html: {class: 'form'} do|f| %>

	  <%= render :partial => 'form', :locals =>{:f => f}%>

	  <div class="form-button">
	    <%= button_tag(type: 'submit', class: "btn btn-success btn-lg") do %>
	 		<i class="glyphicon glyphicon-ok"></i>&nbsp;Create Blip
	  	<% end %>
	  </div>

	  <%= link_to root_path, class: "btn btn-primary btn-lg home-button" do%>
		  <i class="glyphicon glyphicon-home"></i> &nbsp;Home
	  <% end %>

	<% end %>
</div>
<div class="col-md-1"></div>

<br />


