<!DOCTYPE html>
<html>
<head >
  <title>UBC NOW</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid" style="margin: 0.5% 2.5% 4% 2%">
		<%= yield %>
	</div>
</body>
</html>
