<!DOCTYPE html>
<html>
<head >
  <title>UBC NOW</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- BORDER-->
	<div id="left"></div>
	<div id="right"></div>
	<div id="top"></div>
	<div id="bottom"></div>
	<!-- BORDER -->

	<div class="container-fluid" style="margin: 30px 30px 50px 30px">
		<%= yield %>
	</div>
</body>
</html>
